# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Python distribution files
*.egg-info/
dist/
build/

# IDE and editor files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules and build output
node_modules/
dist/
dist-ssr/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Other
*.local
